.chart {
  flex: 2;

  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  -moz-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);

  padding: 10px;
  color: gray;

  .title{
    margin-bottom: 10px;
  }
}
