.App {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    text-align: center;
}

* {
    background-color: rgb(183, 176, 168);
}


.error {
    color: red;
    text-align: left;
    margin: 8px;
}

.elements {
    margin: 15px
}

input {
    padding: 4px 10px;
    width: 500px;
    height: 50px;
    border: 0;
    font-size: 20px;
    outline: none;
    box-shadow: 4px 6px 7px rgb(46, 45, 45);
    margin-bottom: 10px;
    border-radius: 10px;
    caret-color: rgb(8, 15, 24);
    color: rgb(11, 11, 17);
    background-color: rgb(182, 238, 210);
}

#reg_btn {
    background-color: rgba(105, 235, 101, 0.705);
    width: 100px;
    height: 45px;
    padding-bottom: 2px;
    font-weight: bold;
    border-radius: 10px;
    margin-top: 5px;
    border: 1.5px solid black;

}
#logInTxt:hover{
    cursor: pointer;
}

input::placeholder {
    color: rgb(43, 118, 184);
}

#reg_btn:hover {
    background-color: green;
    cursor: pointer;
}