<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link rel="stylesheet" href="flex.css" />
  </head>
  <body>

    <h1>Using Float</h1>
    <div class="floatBox1">
      <div class="floatBox2"></div>
    </div>

    <h1>Using Flex</h1>
    <div class="flexBox1">
      <div class="flexBox2"></div>
    </div>

    <h1>Using Grid</h1>
    <div class="gridBox1">
      <div class="gridBox2"></div>
    </div>

   

  </body>
</html>
