.home{
    display: flex;
    flex: 1;
    background-color: rgb(22, 26, 24);

}
.homeCont{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex: 5;
    margin: 3rem;
}