.profile {
    display: flex;
    width: 100%;
}
.profile .profileCont {
    flex: 5;
}
.profile .profileCont .top {
    display: flex;
    padding: 20px;
    gap: 20px;
    position: relative;
    align-items: center;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    -moz-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    margin: 20px;
}
.profile .profileCont .top .left {
    flex: 1;
}
.profile .profileCont .top .left .title {
    color: gray;
}
.profile .profileCont .top .left .item {
    display: flex;
    align-items: center;
    gap: 20px;
}
.profile .profileCont .top .left .item .itemImg {
    width: 200px;
    height: 200px;
    margin-top: 20px;
    border-radius: 50%;
    object-fit: cover;
    background-color: #424040;
}
.profile .profileCont .top .right {
    flex: 2;
    display: flex;
    align-items: center;
}
.profile .profileCont .top .right .details {
    display: flex;
    flex-direction: column;
}
.profile .profileCont .top .right .details .detailItem {
    margin-top: 10px;
}
.profile .profileCont .top .right .contact {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 20px;
}
.profile .profileCont .top .right .contact .twitter {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: rgba(115, 179, 209, 0.61);
}
.profile .profileCont .top .right .contact .facebook {
    width: 50px;
    height: 50px;
    background-color: rgba(54, 111, 216, 0.61);
    display: flex;
    align-items: center;
    justify-content: center;
}
.profile .profileCont .top .right .contact .whatsapp {
    width: 50px;
    height: 50px;
    background-color: rgba(122, 243, 106, 0.61);
    display: flex;
    align-items: center;
    justify-content: center;
}
.profile .profileCont .top .right .contact .mail {
    width: 50px;
    height: 50px;
    background-color: rgba(241, 109, 92, 0.61);
    display: flex;
    align-items: center;
    justify-content: center;
}
.profile .profileCont .bottom {
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    -moz-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    padding: 10px;
    margin: 20px;
}
.profile .profileCont .bottom .title {
    margin: 20px;
    font-size: 16px;
    color: gray;
    font-weight: 600;
}
