*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.parent{
    width: 100vw;
    height: 100vh;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{

    display: flex;
    justify-content: center;
    align-items: center;
    
    /* position: relative; */

    background-color: blue;
    height: 400px;
    width: 400px;
}
/* h1{
    position: absolute;

    top: 50%;
    left: 50%;

    transform: translate(-50%,-50%);
} */