#lgn_btn {
    background-color:  rgba(105, 235, 101, 0.705);
    width: 100px;
    height: 45px;
    padding-bottom: 2px;
    font-weight: bold;
    border-radius: 10px;
    margin-top: 5px;
    border: 1.5px solid black;
  }
  
  #lgn_btn:hover {
    background-color: rgb(50, 177, 11);
    cursor: pointer;
  }
  