<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link rel="stylesheet" href="ex2.css" />
  </head>
  <body>
    <div class="container">
      <div id="boxTL"></div>
      <div id="boxTR"></div>
      <div id="boxBL"></div>
      <div id="boxBR"></div>
      <div id="box1">
        <div id="boxTL"></div>
        <div id="boxTR"></div>
        <div id="boxBL"></div>
        <div id="boxBR"></div>
      </div>
    </div>
  </body>
</html>
